 /* About Section */
 .about {
    background: white;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.about-text {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.8;
}

.about-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;  
    align-items: center;   
    gap: 2rem;
    margin-top: 2rem;
}

.stat {
    text-align: center;
    padding: 1.5rem 3rem;
    border-left: 1.5px solid black;
}

.stat:first-child {
    border-left: none;
}

.stat-icon {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
    font-size: 24px;
    color: #FBEC5D;
}

.stat-number {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.stat-label {
    color: #666;
    font-size: 0.9rem;
}
.about-image {
    width: 100%;
    height: 400px;
    background: #ddd;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}